header{
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 1;
    grid-column-end: 3;
    /* position: fixed;
    height: 10%; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
    padding-bottom: 15px;
    border-bottom: 1px solid #eee;
    
}
header h2 {
    font-size: 32px;
    font-weight: 500px;
    color: blue;
    
}
header .user-info{
    font-size: 20px;
    display: flex;
    align-items: center;
    color: blue;
}
.user-info i{
    font-size: 30px;
    margin-left: 15px;
}