.device-card{
    
    padding: 20px;
    background-color: white;
    border-radius: 20px;
    box-shadow: var(--shadow);
    display: flex;
    flex-direction: column;
    position: relative;
    margin: 10px;
    transition: all 0.3s;
}
.device-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px 30px;
}
.mode{
    display: flex;
    margin: 5px 30px; 
}