.account-card {
    display: flex;
    flex-direction: column;
    gap: 30px;
    align-items: center;
    justify-content: center;
    margin: auto 0;
    min-height: 100vh;
    padding: 30px 0;
}

.card {
    box-shadow: 
        0 5px 10px rgba(0, 0, 0, 0.1),
        5px 0 10px rgba(0, 0, 0, 0.1),
        -5px 0 10px rgba(0, 0, 0, 0.1),
        0 -5px 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    padding: 30px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 75%;
}

.card h3 {
    color: var(--primary);
    text-shadow: 1px 1px 1px rgba(37, 17, 97, 0.5);
}

.field-item {
    display: flex;
    gap: 10px;
    align-items: center;
}

.edit-icon {
    cursor: pointer;
}

label {
    font-weight: 500;
}

input {
    border: none
}

.change-pw-btn {
    padding: 5px 10px;
    background-color: #a1b2fd;
    color: white;
    border: none;
    border-radius: 5px;
}

.change-pw-btn:hover {
    background-color: #5464b4;
    font-weight: bold;
}

input {
    background-color: transparent;
    padding: 10px;
    font-size: medium;
}

.card button {
    width: fit-content;
    padding: 5px 10px;
}

.dlt-acc-btn {
    background-color: whitesmoke;
    color: grey;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.dlt-acc-btn:hover {
    background-color: #f73737;
    color: white;
    font-weight: bold;
}

.save-btn {
    background-color: #497c4f;
    color: white;
    border: none;
    font-weight: bold;
    border-radius: 5px;
    padding: 5px 10px;
    height: 40px;
}

.save-btn:hover {
    background-color: #1d401e;
}

.table-container {
    width: 100%;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
    font-size: medium;
    border-radius: 8px;
    overflow: hidden;
}

thead {
    background-color: var(--info);
    color: white;
}

thead th {
    padding: 12px 15px;
    border: 1px solid #ddd;
    text-align: left;
}

tbody td {
    padding: 12px 15px;
    border: 1px solid #ddd;
}

tbody tr:nth-child(even) {
    background-color: #07daff0e;
}

tbody tr:hover {
    background-color: #d4e6fbd1;
}

.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    color: gray;
    font-size: 0.9em;
}

.page-btn {
    background-color: rgb(220, 220, 220);
    color: gray;
    border: none;
    border-radius: 5px;
    padding: 8px 12px;
}

.page-btn:hover {
    background-color: rgb(131, 140, 156);
    color: whitesmoke;
}


.page-info {
    font-size: 16px;
    font-weight: bold;
}